Repository lgisler/cpp_statecharts: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-and-remove-duplicated-cspell-words, cppcheck, cpp-header-check

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--number, --wrap, "100"]
        additional_dependencies:
          - mdformat-beautysh
          - mdformat-black
          - mdformat-config
          - mdformat-frontmatter
          - mdformat-footnote
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-pyproject
          - mdformat-simple-breaks
          - mdformat-toc
          - mdformat-tables
        language_version: python3.10

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell # Spell check changed files
      - id: cspell # Spell check the commit message
        name: check commit message spelling
        args:
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --files
          - .git/COMMIT_EDITMSG
        stages: [commit-msg]
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: name-tests-test
      - id: forbid-new-submodules
      - id: file-contents-sorter
        files: ^(requirements\.txt|\.gitignore)$

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--line-length", "100"]
        language_version: python3

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length", "100"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: '^\.cspell.yaml$'

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
      - id: clang-tidy
        args: [--fix, --fix-errors]
      - id: cpplint

  - repo: local
    hooks:
      - id: sort-and-remove-duplicated-cspell-words
        name: Sort and remove duplicated cspell words
        entry: pre-commit-hooks/sort-cspell-words.py
        language: system
        files: ^\.cspell\.yaml$
      - id: cppcheck
        name: Run cppcheck with compile_commands.json
        entry: cppcheck
        language: system
        pass_filenames: false
        files: \.(cpp|hpp)$
        exclude: ^tests?/
        args:
          - --enable=all
          - --project=compile_commands.json
          - --suppress=missingIncludeSystem
          - --suppress=unmatchedSuppression
          - -q
          - --error-exitcode=1
          - --clang
      - id: cpp-header-check
        name: Run IWYU tool with compile_commands.json
        entry: iwyu_tool.py -p .
        language: system
        pass_filenames: false
        files: \.(cpp|hpp)$
        exclude: ^tests?/

use a "working" pre-commit config, and add a llvm bazel toolchain
  .bazelrc
  .pre-commit-config.yaml
  MODULE.bazel
  MODULE.bazel.lock
  src/cpp_statecharts/src/cpp_statecharts.cpp
  src/examples/example_main.cpp
Due: cppcheck, cpp-header-check

enable all (most) checks in clang-tidy
  .cspell.yaml
  .pre-commit-config.yaml
  README.md
  src/cpp_statecharts/include/cpp_statecharts/cpp_statecharts.hpp
  src/cpp_statecharts/src/cpp_statecharts.cpp
  src/examples/example_main.cpp
Due: sort-and-remove-duplicated-cspell-words, cppcheck, cpp-header-check

Update pre-commit-config to enable more checks
  .cspell.yaml
  .pre-commit-config.yaml
Due: sort-and-remove-duplicated-cspell-words

Fix GitHub Actions pre-commit workflow
  .cspell.yaml
  .github/workflows/pre-commit.yml
Due: sort-and-remove-duplicated-cspell-words

fix workflow
  .github/workflows/pre-commit.yml
Due: none

use ubuntu-22.04 and install iwyu
  .github/workflows/pre-commit.yml
Due: none

install libtinfo5
  .cspell.yaml
  .github/workflows/pre-commit.yml
Due: sort-and-remove-duplicated-cspell-words

disable unnecessary clang-tidy checks
  .cspell.yaml
  .pre-commit-config.yaml
  src/cpp_statecharts/include/cpp_statecharts/cpp_statecharts.hpp
  src/cpp_statecharts/src/cpp_statecharts.cpp
Due: sort-and-remove-duplicated-cspell-words, cppcheck, cpp-header-check

remove dup args
  .pre-commit-config.yaml
Due: none

remove explicit since it's a default ctor
  src/cpp_statecharts/include/cpp_statecharts/cpp_statecharts.hpp
Due: cppcheck, cpp-header-check

Test workflow fixes (#1)
  .cspell.yaml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/cpp_statecharts/include/cpp_statecharts/cpp_statecharts.hpp
  src/cpp_statecharts/src/cpp_statecharts.cpp
Due: sort-and-remove-duplicated-cspell-words, cppcheck, cpp-header-check

changes to workflow
  .github/workflows/pre-commit.yml
Due: none

update workflows
  .github/workflows/pre-commit.yml
Due: none

add build workflow
  .github/workflows/build.yml
Due: none

update build workflow
  .github/workflows/build.yml
Due: none

install system lib deps
  .github/workflows/build.yml
Due: none

Add build workflow (#2)
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Due: none

use one ci job
  .cspell.yaml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
Due: sort-and-remove-duplicated-cspell-words

add more to .gitignore
  .gitignore
Due: none

remove MODULE.lock
  MODULE.bazel.lock
Due: none

add bazelversion file
  .bazelrc
  .bazelversion
  .gitignore
  MODULE.bazel.lock
Due: none

restore bazelrc
  .bazelrc
Due: none

update bazelrc and ci workflow
  .bazelrc
  .cspell.yaml
  .github/workflows/ci.yml
Due: sort-and-remove-duplicated-cspell-words

leaner caching
  .github/workflows/ci.yml
Due: none

update bazel caching
  .github/workflows/ci.yml
Due: none

remove manual caching of bazel
  .github/workflows/ci.yml
Due: none

Use ci job with caching (#3)
  .bazelrc
  .bazelversion
  .cspell.yaml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .gitignore
Due: sort-and-remove-duplicated-cspell-words

Update README
  README.md
Due: none

add cleanup job
  .github/workflows/cleanup.yml
Due: none

Add pedantic to create a new cache
  .bazelrc
Due: none

Apply suggestion from @Copilot
  .github/workflows/cleanup.yml
Due: none

Add cleanup job (#4)
  .bazelrc
  .github/workflows/cleanup.yml
Due: none

update prettier config
  .pre-commit-config.yaml
Due: none

Update README.md
  README.md
Due: none

wip
  .cspell.yaml
  README.md
  src/cpp_statecharts/BUILD
  src/cpp_statecharts/include/cpp_statecharts/cpp_statecharts.hpp
  src/cpp_statecharts/src/cpp_statecharts.cpp
  src/examples/example_main.cpp
Due: sort-and-remove-duplicated-cspell-words, cppcheck, cpp-header-check

update readme
  README.md
Due: none

update bazel
  src/cpp_statecharts/BUILD
  src/cpp_statecharts/src/cpp_statecharts.cpp
Due: cppcheck, cpp-header-check

fix build
  src/cpp_statecharts/BUILD
Due: none

working
  .pre-commit-config.yaml
Due: none

Update README.md (#5)
  README.md
Due: none
